html {
  box-sizing: border-box;
  font-size:16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size:ms(1); // modular-scale. See dev/scss/modules/_themes.scss
  text-rendering: geometricPrecision;
  font-family: $body-typeface;
  color:$main-text;
  font-size:ms(0);
  font-weight:$body-font-weight;
  line-height:$body-line-height;
  background-color:$body-background-color;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
}
/**
 * 
 * Typography
 *
 */
h1,
h2,
h3,
h4{
  font-family:$heading-typeface;
  color:$main-text;
  margin: 1.414em 0 0.5em;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}

p,ul,ol,blockquote {
	margin-bottom: ms(0);
}

h1 {
  margin-top: 0;
  font-size: ms(4);
}

h2 {
	font-size: ms(3);
}

h3 {
	font-size: ms(2);
}

h4 {
	font-size: ms(1);
}

small, 
.font_small {
	font-size: ms(-1);
}

a {
  color:$primary-color;
  text-decoration:none;
  font-family:$body-typeface;
}
a:hover{
  text-decoration:underline;
}

/**
 * 
 * Layout
 *
 */

.content{
  width:100%;
  padding:ms(-3);
  max-width:$max-width;
  position:relative;
  @media #{$medium}{
    width:90%;
  }
  @media #{$large}{
    width:70%;
  }
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;

  @media #{$medium}{
    flex-wrap: nowrap;
  }
}
header > *:last-child{
  margin-bottom:0;
}
.header-logo{
  width:100%;
  padding:0 0 ms(1) 0;
  
  @media #{$medium}{
    padding:0 ms(0) ms(0) 0;
    max-width:200px;
  }

}